html{
    background-color: rgb(247, 233, 233);
}


.articulos  {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 

    img{
        height: 100px;
        right: 100px;
    }

}

.articulos div{border: 2px solid;}